<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>云文件存储</title>
</head>
<body>
    <h3>文件上传</h3>
    <form action="file/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" placeholder="选择文件">
        <input type="submit" value="上传">
    </form>
    <br><br><br>
    <h3>文件查询</h3>
    <form action="file/meta" method="post" name="filehash" enctype="application/x-www-form-urlencoded">
        <input type="text" name="filehash" id="filehash">
        <input type="submit" value="查询">
    </form>
    <br><br><br>
    <h3>文件下载</h3>
    <form action="file/download" method="post" name="filehash" enctype="application/x-www-form-urlencoded">
        <input type="text" name="filehash" id="filehash">
        <input type="submit" value="下载">
    </form>
    <br><br><br>
    <h3>文件修改</h3>
    <form action="file/update" method="post" name="filehash" enctype="application/x-www-form-urlencoded">
        操作类型：<input type="text" name="op" id="op"><br>
        文件hash：<input type="text" name="filehash" id="filehash"><br>
        文件名称：<input type="text" name="filename" id="filename"><br>
        <input type="submit" value="提交">
    </form>
    <br><br><br>
    <h3>文件删除</h3>
    <form action="file/delete" method="post" name="filehash" enctype="application/x-www-form-urlencoded">
        <input type="text" name="filehash" id="filehash">
        <input type="submit" value="删除">
    </form>
    <br><br><br>
</body>
</html>